<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LoL Personal Counters</title>
    <link rel="stylesheet" type="text/css" href="{{.Prefix}}static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{.Prefix}}static/css/style.css">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <div class="container">
      <h1>LoL Personal Counters</h1>
      <a type="button" class="btn btn-default" href="/">
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Choose Another Matchup
      </a>
      <p>
        Enemy: {{if eq .Enemy "MonkeyKing" }} Wukong {{else if eq .Enemy "MasterYi"}} Master Yi {{else if eq .Enemy "DrMundo"}} Dr. Mundo {{else}} {{.Enemy}} {{end}}
      </p>
      <img src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{.Enemy}}.png" height="40">
      <p>Role: {{.Role}}</p>
      <table class="table">
        <thead>
          <tr>
            <th>Champions You Own</th>
            <th>Average Ranked Win Rate from Champion.gg</th>
            <th>Games Contributing to Average</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Matchups }}
          <tr>
            <th>
              <img src="http://ddragon.leagueoflegends.com/cdn/6.7.1/img/champion/{{.Champion}}.png" height="40">
                <a href="http://champion.gg/champion/{{.Champion}}/{{.Role}}" target="_blank" class="padding-left-10">
                {{if eq .Champion "MonkeyKing" }} Wukong
                {{else if eq .Champion "MasterYi"}} Master Yi
                {{else if eq .Champion "DrMundo"}} Dr. Mundo
                {{else}} {{.Champion}}
                {{end}}
                </a>
              </th>
            <th>{{.WinRate}}</th>
            <th>{{.Games}}</th>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
    <script type="text/javascript" src="{{.Prefix}}static/js/index.js"></script>
  </body>
</html>
