/* custom */

.padding-left-10 {
  padding-left: 10px;
}

.table > tbody > tr > th,
.table > thead > tr > th{
  text-align: center;
}

div.awesomplete {
  display: block;
}

input[name="region"] {
  display: none;
}

body{
	background-color: #000;
	color: #20ac89;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
	font-size: 1.8em;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

h1{
	font-size: 4em;
}

/* v1 */
.header .container{
	padding: 30px 0 80px;
	background: -webkit-linear-gradient(rgba(255,255,255,0.8), rgba(255,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,0.8), rgba(255,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,0.8), rgba(255,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,0,0,0));
}

.header{
	margin-bottom: 50px;
	width: 100%;
}

.header{
	color: #000;
	background: url("../img/poolparty_wallpaper-e.jpg") no-repeat bottom center;
	b-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* v2 */
/*
.header .container{
	padding: 30px 0 80px;
}

.header{
	margin-bottom: 20px;
}

.header{
	color: #fff;
	background: url("../img/poolparty_wallpaper-e.jpg") no-repeat bottom center;
	b-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
*/

.form-control{
	color: #fff;
	background-color: #000;
	border: 0;
	border-bottom: 1px solid #fff;
	border-radius: 0;
}

.find{
	color: #000;
	background-color: #20ac89;
	border: 1px solid #333;
	border-radius: 4px;
}

.form-group{
	margin-bottom: 50px;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

.content-area{
	max-width: 500px;
	float: none;
	margin: 0 auto;
	margin-bottom: 100px;
}

.footer{
	color: #fff;
}

.footer a{
	text-decoration: none;
}